.header-format{
    border-radius: 8px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    transition: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 1.9s;;
}

.header-format:hover{
    background-color: #f08b0da8;
}

.header-format-active{
    background-color: #007bff;
    color: white;
}
.header-format-active:hover{
    background-color: #007bff;
    color: white;
}
.header-format-active p{
    color: white;
}
.header-format p{
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.work-description-badge{
    font-size: 12px;
    border: 1px #fff solid;    min-width: 35px;
    text-align: center;

}

.work-description-badge.active{
    background-color: #0dcaf080;
    border: 1px solid #0dcaf080;
    scale: 1.1;
    margin-right: 10px;
}
